
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/vue.js"></script>
    <title>循环</title>
    <style>
        .cube{
            width: 100px;
            height: 100px;
            background: red;
        }
    </style>
</head>
<body>
    <div id="box">
        <ul>
            <li v-for="(value,index) in arr">
                {{value}} {{index}}
            </li>
            <li v-for="(value, key ,index) in json">
                 {{key}}:{{value}}   {{index}}
            </li>
        </ul>
    </div>
    <hr>
    <div class="add">
    <button type="button" v-on:click="add()">按钮</button>
    <ul>
        <li v-for ="value in arr">
            {{value}}
        </li>
    </ul>
    </div>
    <hr>
    <div class="show">
        <button type="button" v-on:click ="a=false">隐藏</button>
        <button type="button" v-on:click ="a=true">显示</button>
        <div class="cube" v-show =a></div>
    </div>
    <script>
        /*
        * 1. 指令：扩展html标签的功能和属性。
        *   v-model   一般表单元素   双向数据绑定
        *   v-for   循环有value key index
        *   v-on:click/mouseover/mouseout/dblclick/mousedown .....  绑定事件   methods
        *   v-show = true /false  显示或者隐藏
        * */
       new Vue({
            el :  '#box',
            data : {
                arr:[1,2,3,4],
                json:{  a: 'apple', b: 'pear',c: 'orange' }
            }
        });
        new Vue({
            el :  '.add',
            data : {
                arr:[1,2,3,4],
                json:{  a: 'apple', b: 'pear',c: 'orange' }
            },
            methods: {
                add : function(){ this.arr.push(5)}

            }
        });
       var c = new Vue({
            el : ".show",
            data: {
                a: true
            }
        })
    </script>
</body>
</html>